<body>
  <div class="layout" x-data="{...layout(), sidebarOpen: true }">
    <aside x-show="sidebarOpen" class="sidebar" :class="{ 'open': sidebarOpen }">
      <h2>
        Drop Shop Admin 
                    <i class="fa-solid fa-gauge-high"></i>

      </h2>
      <hr>
      
      <ul class="menu">
        <li><a href="#">Dashboard</a></li>
        <li><a href="/stock" @click="spaNavigate">Estoque</a></li>
        <li><a href="#">Pedidos</a></li>
        <li><a href="#">Configurações</a></li>
        <li><a href="/kardex" @click="spaNavigate">Kardex</a></li>
      </ul>
      <button class="btn-bottom btn-logout" @click="logout">
         <i class="fa fa-sign-out"></i> Log Out
      </button>
    </aside>
    <div class="content">
      <header class="topbar">
        <button class="hamburger" @click="sidebarOpen = !sidebarOpen">
          ☰
        </button>
        <strong>Dashboard</strong>
      </header>

      <main id="content" class="main">
      </main>
    </div>
</body>


<script>

  function spaNavigate(e) {
    e.preventDefault();
    import("/src/router.js").then(m => m.navigate(e.target.getAttribute("href")));
  }
</script>