<body>
  <div x-data="bootstrap">
    <div class="layout" x-data="{...setPageTitle(), ...menu()}">
      <aside class="sidebar" :class="{ 'open': sidebarOpen }">
        <h2>
          <a href="/" @click="spaNavigate($event, '/')">
            Drop Shop Admin
            <i class="fa-solid fa-gauge-high"></i>
          </a>
        </h2>
        <hr>
        <ul class="menu">
          <template x-for="item in menuItems" :key="item.path">
            <li>
              <a href="" @click.prevent="spaNavigate($event, item.path)" x-text="item.title">
              </a>
            </li>
          </template>
        </ul>

        <button class="btn-bottom btn-logout" @click="logout">
          <i class="fa fa-sign-out"></i> Log Out
        </button>
      </aside>
      <div class="sidebar-overlay" x-show="sidebarOpen" @click="sidebarOpen = false"></div>
      <div class="content">
        <header class="topbar">
          <button class="hamburger" @click="sidebarOpen = !sidebarOpen">
            ☰
          </button>
          <h2 x-text="pageTitle"></h2>
          <span class="right-allign">
            <span x-show="logged">
              Usuário logado:
              <span x-show="logged" x-text="logged?.user?.email"></span>
              (<span x-show="logged" x-text="logged?.roles"></span>)
            </span>
            <div x-show="!logged" class="loader small"></div>

          </span>
        </header>

        <main id="content" class="main">
        </main>
      </div>
    </div>
  </div>
</body>