name: Deploy Infra

on:
  push:
    branches:
      - develop
      - main
    paths:
      - 'infra/**'
      - '.github/workflows/deploy-infra.yml'
  workflow_dispatch:

jobs:
  terraform:
    name: "Terraform Apply"
    runs-on: ubuntu-latest
    
    env:
      ENV: ${{ github.ref == 'refs/heads/main' && 'prod' || 'dev' }}
      # Credenciais mapeadas para o ambiente do Job
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: "us-east-1"

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.11.3"

      # Passo extra de segurança para garantir que o CLI da AWS está autenticado
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Terraform Init
        working-directory: infra/stacks/admin_stack
        run: |
          terraform init \
            -backend-config="key=tf-state/admin-${{ env.ENV }}.tfstate" \
            -reconfigure

      - name: Terraform Apply
        working-directory: infra/stacks/admin_stack
        run: |
          terraform apply \
            -var-file=./envs/${{ env.ENV }}.tfvars \
            -auto-approve